/*Classes*/
.intro{
	padding-top: 80px;
	padding-bottom: 15px;
}
.formatTextL{
	font-size: 140%;
}
.formatTextM{
	font-size: 120%;
}
.fa:before{
	font-size: 150%;
	color: white;
}
.fa{
	margin-bottom: 50%;
}
.navbar-collapse {
	align-items: flex-start !important;
}
.navbar-brand{
	font-weight: bold;
	font-size: 150% !important;
}
/*IDs*/
#about{
	background-color: #D2EFEE;

}
#edu{
}
#certs{
}
#projects{
	padding-top: 3%;
	padding-bottom: 2%;
	background-color: #79D0CB;
}
#contact{
	background-color: #A5DFDC;

}
#copyright{
	text-align: center;
	color: white;
}
/*Elements*/
button[aria-expanded="false"]:before{
	content:"more details ";

}
button[aria-expanded="true"]:before{
	content:"less details ";

}
li{
	font-size: 130%
}
button[name=collapseable]:before{
	content: "";
}
section{
	padding-top: 10%;
	padding-bottom: 10%;
}
header{
	text-align: center;
	background-color: #1FB0A8;
	padding-top: 3%;
	padding-bottom: 2%;
}

img{
	border-radius: 50%;
}
body{
    position: relative;
}
h1{
	text-align: center;
}
form-control{
	color: #acb6c0;
    opacity: 1;
    border-width: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
textarea[name=message]{
	resize: none;
}
form{
	width: 75%;
	margin: auto;
}
input[name=_gotcha]{
	display: none;
}
footer{
	padding-top: .8%;
	padding-bottom: .3%;
	background-color: #343A40;
}